/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.theme-default-content:not(.custom)
  max-width: 840px !important;

ks-date-picker.demo
  margin-top: 1rem;

ks-calendar
  margin: 2rem 0;